{% extends 'Tour/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-aside-wrap">
                                <div class="card-inner card-inner-lg">
                                    <div class="nk-block-head nk-block-head-lg">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h4 class="nk-block-title">Personal Information</h4>
                                                <div class="nk-block-des">
                                                    <p>Basic info</p>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content align-self-start d-lg-none">
                                                <a href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                   data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="nk-data data-list">
                                            <div class="data-head">
                                                <h6 class="overline-title">Basics</h6>
                                            </div>
                                            <div class="data-item" data-bs-toggle="modal"
                                                 data-bs-target="#profile-edit">
                                                <div class="data-col">
                                                    <span class="data-label">Full Name</span>
                                                    <span class="data-value">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em
                                                        class="icon ni ni-forward-ios"></em></span></div>
                                            </div><!-- data-item -->
                                            <div class="data-item" data-bs-toggle="modal"
                                                 data-bs-target="#profile-edit">
                                                <div class="data-col">
                                                    <span class="data-label">Display Name</span>
                                                    <span class="data-value">{{ request.user }}</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em
                                                        class="icon ni ni-forward-ios"></em></span></div>
                                            </div><!-- data-item -->
                                            <div class="data-item">
                                                <div class="data-col">
                                                    <span class="data-label">Email</span>
                                                    <span class="data-value">{{ request.user.email }}</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more disable"><em
                                                        class="icon ni ni-lock-alt"></em></span></div>
                                            </div><!-- data-item -->
                                            <div class="data-item" data-bs-toggle="modal"
                                                 data-bs-target="#profile-edit">
                                                <div class="data-col">
                                                    <span class="data-label">Phone Number</span>
                                                    <span class="data-value text-soft">Not add yet</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em
                                                        class="icon ni ni-forward-ios"></em></span></div>
                                            </div><!-- data-item -->
                                        </div><!-- data-list -->
                                    </div><!-- .nk-block -->
                                </div>
                                <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg"
                                     data-toggle-body="true" data-content="userAside" data-toggle-screen="lg"
                                     data-toggle-overlay="true">
                                    <div class="card-inner-group" data-simplebar>
                                        <div class="card-inner">
                                            <div class="user-card">
                                                <div class="user-avatar bg-primary">
                                                    <span>AD</span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                                    <span class="sub-text">{{ request.user.email }}</span>
                                                </div>
                                            </div><!-- .user-card -->
                                        </div><!-- .card-inner -->
                                    </div><!-- .card-inner -->
                                </div><!-- .card-inner-group -->
                            </div><!-- card-aside -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="profile-edit">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-lg">
                    <h5 class="title">Update Profile</h5>
                    <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#personal">Personal</a>
                        </li>
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" data-bs-toggle="tab" href="#address">Address</a>#}
                        {#                        </li>#}
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="personal">
                            <form method="post" action="{% url 'profile' %}">
                                {% csrf_token %}
                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="full-name">First Name</label>
                                            <input type="text" name="firstname" class="form-control form-control-lg"
                                                   id="full-name"
                                                   value="{{ request.user.first_name }}" placeholder="Enter Full name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">Last Name</label>
                                            <input type="text" name="lastname" class="form-control form-control-lg"
                                                   id="display-name"
                                                   value="{{ request.user.last_name }}"
                                                   placeholder="Enter display name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">User Name</label>
                                            <input type="text" name="username" class="form-control form-control-lg"
                                                   id="display-name"
                                                   value="{{ request.user }}" placeholder="Enter display name">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">Email</label>
                                            <input type="email" name="email" class="form-control form-control-lg"
                                                   id="display-name"
                                                   value="{{ request.user.email }}" placeholder="Enter display name">
                                            <input id="email" type="hidden" name="update_user"
                                                   class="form-control form-control-lg" value="user_update">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li>
                                                <button type="submit" class="btn btn-lg btn-primary">Update Profile
                                                </button>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <form action="{% url 'profile' %}" method="post">
                                {% csrf_token %}
                                <br>
                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">old password</label>
                                            {% render_field form.old_password class="form-control form-control-lg" %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">new password</label>
                                            {% render_field form.new_password1 class="form-control form-control-lg" %}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="display-name">confirm password</label>
                                            {% render_field form.new_password2 class="form-control form-control-lg" %}

                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-lg btn-primary" type="submit">Change</button>
                                    </div>
                                </div>
                            </form>

                        </div><!-- .tab-pane -->
                    </div><!-- .tab-content -->
                </div>
                <!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
{% endblock content %}
