{% extends 'Tour/base.html' %} {% load static %} {% block content %}
    <!-- content @s -->
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="components-preview wide-md mx-auto">
                        <div class="nk-block-head nk-block-head-lg wide-sm">
                            <div class="nk-block-head-content">

                                
                                <h2 class="nk-block-title fw-normal">Package Add</h2>
                                
                            </div>
                        </div><!-- .nk-block-head -->
                        <form class="nk-block nk-block-lg">
                             
                            <div class="card card-bordered card-preview">
                                <div class="card-inner">
                                    <div class="preview-block">
                                        <span class="preview-title-lg overline-title">Tour Reputation</span>
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-01">Duration</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="default-01" placeholder="Input placeholder">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-05">Price</label>
                                                    <div class="form-control-wrap">
                                                        <div class="form-text-hint">
                                                            <span class="overline-title">Tzs</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="default-05" placeholder="Input placeholder">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-03">Title</label>
                                                    <div class="form-control-wrap">
                                                      
                                                        <input type="text" class="form-control" id="default-03" placeholder="Input placeholder">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="default-04">Group Size</label>
                                                    <div class="form-control-wrap">
                                                       
                                                        <input type="text" class="form-control" id="default-04" placeholder="Input placeholder">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label" for="default-04">Guider Size</label>
                                                    <div class="form-control-wrap">
                                                       
                                                        <input type="text" class="form-control" id="default-04" placeholder="Input placeholder">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-textarea">Tour Details</label>
                                                    <div class="form-control-wrap">
                                                        <textarea class="form-control no-resize" id="default-textarea">Large text area content</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-06">Package Image</label>
                                                    <div class="form-control-wrap">
                                                        <div class="form-file">
                                                            <input type="file" multiple class="form-file-input" id="customFile">
                                                            <label class="form-file-label" for="customFile">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-07">Tour Type</label>
                                                    <div class="form-control-wrap">
                                                        <div class="form-control-select">
                                                            <select class="form-control" id="default-06">
                                                                <option value="default_option">Daly Tour</option>
                                                                <option value="option_select_name">Weekly Tour</option>
                                                                <option value="option_select_name">Month Tour</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">Package Details</span>
                                        <div class="row gy-4">
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control form-control-outlined" id="outlined-normal">
                                                        <label class="form-label-outlined" for="outlined-normal">Destination</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                            <option value="default_option">Default Option</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                        </select>
                                                        <label class="form-label-outlined" for="outlined-normal">Includes</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                            <option value="default_option">Default Option</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                            <option value="option_select_name">Option select name</option>
                                                        </select>
                                                        <label class="form-label-outlined" for="outlined-normal">Excludes</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row gy-4">
                                                <div class="col-lg-4 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control form-control-outlined" id="outlined-normal">
                                                            <label class="form-label-outlined" for="outlined-normal">Depture Status</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                          
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right xl">
                                                            <em class="icon ni ni-calendar-alt"></em>
                                                        </div>
                                                        <input type="text" class="form-control form-control-outlined date-picker" id="outlined-date-picker">
                                                        <label class="form-label-outlined" for="outlined-date-picker">Depature Date</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right xl">
                                                            <em class="icon ni ni-calendar-alt"></em>
                                                        </div>
                                                        <input type="text" class="form-control form-control-outlined date-picker" id="outlined-date-picker">
                                                        <label class="form-label-outlined" for="outlined-date-picker">Return Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} <div class="col-lg-4 col-sm-6">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right xl">
                                                            <em class="icon ni ni-clock"></em>
                                                        </div>
                                                        <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                                        <label class="form-label-outlined" for="outlined-time-picker">Time Picker</label>
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">Package Gallery</span>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="default-06">Package Image</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" multiple class="form-file-input" id="customFile">
                                                        <label class="form-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="default-06">Package Image</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" multiple class="form-file-input" id="customFile">
                                                        <label class="form-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="default-06">Package Image</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" multiple class="form-file-input" id="customFile">
                                                        <label class="form-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="default-06">Package Image</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" multiple class="form-file-input" id="customFile">
                                                        <label class="form-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">Package Plan</span>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="last-name">Day / Week / Month Title</label>
                                                <input type="text" class="form-control" id="last-name"
                                                       name="tp-day_title"
                                                       placeholder="DAY 1 : Departure And Small Tour"/>
                                            </div>
                                        </div>
                                        <!--col-->

                                        <!--col-->
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">From </label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">To</label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="total-person">Description</label>
                                                <input type="text" class="form-control" id="total-person"
                                                       name="travel_plan_description"
                                                       placeholder="How the day will be...?"/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">Day
                                                    Features</label>
                                                    <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                        <option value="default_option">Default Option</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                    </select>
                                            </div>
                                        </div>

                                               <br>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="last-name">Day / Week / Month Title</label>
                                                <input type="text" class="form-control" id="last-name"
                                                       name="tp-day_title"
                                                       placeholder="DAY 2 : Departure And Small Tour"/>
                                            </div>
                                        </div>
                                        <!--col-->

                                        <!--col-->
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">From </label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">To</label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="total-person">Description</label>
                                                <input type="text" class="form-control" id="total-person"
                                                       name="travel_plan_description"
                                                       placeholder="How the day will be...?"/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">Day
                                                    Features</label>
                                                    <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                        <option value="default_option">Default Option</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="last-name">Day / Week / Month Title</label>
                                                <input type="text" class="form-control" id="last-name"
                                                       name="tp-day_title"
                                                       placeholder="DAY 3 : Departure And Small Tour"/>
                                            </div>
                                        </div>
                                        <!--col-->

                                        <!--col-->
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">From </label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">To</label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="total-person">Description</label>
                                                <input type="text" class="form-control" id="total-person"
                                                       name="travel_plan_description"
                                                       placeholder="How the day will be...?"/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">Day
                                                    Features</label>
                                                    <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                        <option value="default_option">Default Option</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="last-name">Day / Week / Month Title</label>
                                                <input type="text" class="form-control" id="last-name"
                                                       name="tp-day_title"
                                                       placeholder="DAY 4 : Departure And Small Tour"/>
                                            </div>
                                        </div>
                                        <!--col-->

                                        <!--col-->
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">From </label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">To</label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="total-person">Description</label>
                                                <input type="text" class="form-control" id="total-person"
                                                       name="travel_plan_description"
                                                       placeholder="How the day will be...?"/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">Day
                                                    Features</label>
                                                    <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                        <option value="default_option">Default Option</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="last-name">Day / Week / Month Title</label>
                                                <input type="text" class="form-control" id="last-name"
                                                       name="tp-day_title"
                                                       placeholder="DAY 5 : Departure And Small Tour"/>
                                            </div>
                                        </div>
                                        <!--col-->

                                        <!--col-->
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">From </label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">To</label>
                                                <input type="text" class="form-control form-control-outlined time-picker" id="outlined-time-picker">
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="total-person">Description</label>
                                                <input type="text" class="form-control" id="total-person"
                                                       name="travel_plan_description"
                                                       placeholder="How the day will be...?"/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-xxl-3">
                                            <div class="form-group">
                                                <label class="form-label" for="total-person">Day
                                                    Features</label>
                                                    <select class="form-select js-select2" multiple="multiple" data-placeholder="Select Multiple options">
                                                        <option value="default_option">Default Option</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                        <option value="option_select_name">Option select name</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--row-->
                                </div>

                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">Package Located</span>

                                        <div class="row gy-2">
                                            <iframe
                                                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15846.360988556271!2d39.2841528!3d-6.819587!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stz!4v1665651092549!5m2!1sen!2stz"
                                                    width="600" height="250" style="border: 0" allowfullscreen=""
                                                    loading="lazy"
                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>

                                        <div class="col-sm-12 mt-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Add Package</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!-- .card-preview -->
                          
                        </form><!-- .nk-block -->
                    </div><!-- .components-preview -->
                </div>
            </div>
        </div>
    </div>

<!-- content @e -->
{% endblock content %}
