{% extends 'Tour/base.html' %} {% load static %} {% block content %}
<!-- content @s -->
<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="components-preview wide-md mx-auto">
          <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
              <div class="nk-block-head-content">
                <h4 class="title nk-block-title">Package Details</h4>
                <div class="nk-block-des">
                  {% comment %}
                  <p>A basic demostration of wizard form.</p>
                  {% endcomment %}
                </div>
              </div>
            </div>
            <div class="card card-bordered">
              <div class="card-inner">
                <form
                  action="#"
                  class="nk-wizard nk-wizard-simple is-alter"
                  id="wizard-01"
                >
                  <div class="nk-wizard-head">
                    <h5>Tour Reputation</h5>
                  </div>
                  <div class="nk-wizard-content">
                    <div class="row gy-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="fw-first-name"
                            >Duration</label
                          >
                          <div class="form-control-wrap">
                            <input
                              type="text"
                              data-msg="Required"
                              class="form-control required"
                              placeholder="4 Days"
                              id="fw-first-name"
                              name="fw-first-name"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="fw-last-name"
                            >Group Size</label
                          >
                          <div class="form-control-wrap">
                            <input
                              type="text"
                              data-msg="Required"
                              placeholder="30 People"
                              class="form-control required"
                              id="fw-last-name"
                              name="fw-last-name"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="fw-email-address"
                            >Tour Guide</label
                          >
                          <div class="form-control-wrap">
                            <input
                              type="text"
                              data-msg="Required"
                              class="form-control required text"
                              placeholder="05 People"
                              id="fw-email-address"
                              name="fw-email-address"
                              required
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="fw-nationality"
                            >Tour Type</label
                          >
                          <div class="form-control-wrap">
                            <div class="form-control-select">
                              <select
                                class="form-control required"
                                data-msg="Required"
                                id="fw-nationality"
                                name="fw-nationality"
                                required
                              >
                                <option value="">Select Tour Type</option>
                                <option value="dy">Daly Tour</option>
                                <option value="wk">Weekly Tour</option>
                                <option value="my">Monthly Tour</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- .col -->
                    </div>
                  </div>
                  <div class="nk-wizard-head">
                    <h5>Package Details</h5>
                  </div>
                  <div class="nk-wizard-content">
                    <div class="row gy-3">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label" for="default-textarea"
                            >Description</label
                          >
                          <div class="form-control-wrap">
                            <textarea
                              class="form-control no-resize"
                              data-msg="Required"
                              id="default-textarea"
                              required
                            >
Large text area content</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- .row -->
                    <div class="row gy-3">
                      <div class="card-inner">
                        <div class="row gy-4">
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label" for="first-name"
                                >Destination</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="first-name"
                                placeholder="Destination Title"
                                required
                              />
                            </div>
                          </div>
                          <!--col-->
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label" for="last-name"
                                >Included</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="last-name"
                                placeholder="Included"
                              />
                            </div>
                          </div>
                          <!--col-->

                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label" for="phone-no"
                                >Excluded</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                id="phone-no"
                                placeholder="Excluded"
                              />
                            </div>
                          </div>
                          <!--col-->

                          <!--col-->
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label">Departure Time</label>
                              <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                  <em class="icon ni ni-calendar"></em>
                                </div>
                                <input
                                  type="text"
                                  class="form-control date-picker"
                                  data-date-format="yyyy-mm-dd"
                                  placeholder="yyyy-mm-dd"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label">Return Time</label>
                              <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                  <em class="icon ni ni-calendar"></em>
                                </div>
                                <input
                                  type="text"
                                  class="form-control date-picker"
                                  data-date-format="yyyy-mm-dd"
                                  placeholder="yyyy-mm-dd"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label" for="total-person"
                                >Departure</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                id="total-person"
                                placeholder="Departure Status"
                              />
                            </div>
                          </div>

                          <!--col-->
                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label">Upload Photo</label>
                              <div class="form-control-wrap">
                                <div class="form-file">
                                  <input
                                    type="file"
                                    multiple
                                    class="form-file-input"
                                    id="customFile"
                                  />
                                  <label
                                    class="form-file-label"
                                    for="customFile"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4 col-xxl-3">
                            <div class="form-group">
                              <label class="form-label"
                                >Destination Picture</label
                              >
                              <div class="form-control-wrap">
                                <div class="form-file">
                                  <input
                                    type="file"
                                    multiple
                                    class="form-file-input"
                                    id="customFile"
                                  />
                                  <label
                                    class="form-file-label"
                                    for="customFile"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--col-->
                          <!--col-->

                          <!--col-->
                        </div>
                        <!--row-->
                      </div>
                      <!-- .card-inner-group -->
                    </div>
                    <!-- .row -->
                  </div>
                  <div class="nk-wizard-head">
                    <h5>Travel Plan</h5>
                  </div>
                  <div class="nk-wizard-content">
                    <div class="card-inner">
                      <div class="row gy-4">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="form-label" for="default-textarea"
                              >Description</label
                            >
                            <div class="form-control-wrap">
                              <textarea
                                class="form-control no-resize"
                                id="default-textarea"
                              >
Large text area content</textarea
                              >
                            </div>
                          </div>
                        </div>
                        <!--col-->
                        <div class="col-md-6 col-lg-4 col-xxl-3">
                          <div class="form-group">
                            <label class="form-label" for="last-name"
                              >Day Title</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="last-name"
                              placeholder="DAY 1 : Departure And Small Tour"
                            />
                          </div>
                        </div>
                        <!--col-->

                        <!--col-->
                        <div class="col-md-6 col-lg-4 col-xxl-3">
                          <div class="form-group">
                            <label class="form-label" for="total-person"
                              >From - To</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="total-person"
                              placeholder="10.00 AM to 10.00 PM"
                            />
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xxl-3">
                          <div class="form-group">
                            <label class="form-label" for="total-person"
                              >Description</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="total-person"
                              placeholder="How the day will be...?"
                            />
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xxl-3">
                          <div class="form-group">
                            <label class="form-label" for="total-person"
                              >Day Features</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="total-person"
                              placeholder="Private Transport"
                            />
                          </div>
                        </div>
                      </div>
                      <!--row-->
                    </div>
                  </div>
                  <div class="nk-wizard-head">
                    <h5>Tour Galery</h5>
                  </div>
                  <div class="nk-wizard-content">
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                      <div class="form-group">
                        <label class="form-label">Upload Photo</label>
                        <div class="form-control-wrap">
                          <div class="form-file">
                            <input
                              type="file"
                              multiple
                              class="form-file-input"
                              id="customFile"
                            />
                            <label class="form-file-label" for="customFile"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                      <div class="form-group">
                        <label class="form-label">Upload Photo</label>
                        <div class="form-control-wrap">
                          <div class="form-file">
                            <input
                              type="file"
                              multiple
                              class="form-file-input"
                              id="customFile"
                            />
                            <label class="form-file-label" for="customFile"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                      <div class="form-group">
                        <label class="form-label">Upload Photo</label>
                        <div class="form-control-wrap">
                          <div class="form-file">
                            <input
                              type="file"
                              multiple
                              class="form-file-input"
                              id="customFile"
                            />
                            <label class="form-file-label" for="customFile"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                      <div class="form-group">
                        <label class="form-label">Upload Photo</label>
                        <div class="form-control-wrap">
                          <div class="form-file">
                            <input
                              type="file"
                              multiple
                              class="form-file-input"
                              id="customFile"
                            />
                            <label class="form-file-label" for="customFile"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                      <div class="form-group">
                        <label class="form-label">Upload Photo</label>
                        <div class="form-control-wrap">
                          <div class="form-file">
                            <input
                              type="file"
                              multiple
                              class="form-file-input"
                              id="customFile"
                            />
                            <label class="form-file-label" for="customFile"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nk-wizard-head">
                    <h5>Location</h5>
                  </div>
                  <div class="nk-wizard-content">
                    <div class="row gy-2">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15846.360988556271!2d39.2841528!3d-6.819587!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stz!4v1665651092549!5m2!1sen!2stz"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                      ></iframe>
                    </div>
                    <!-- .row -->
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- .nk-block -->
        </div>
        <!-- .components-preview -->
      </div>
    </div>
  </div>
</div>

<!-- content @e -->
{% endblock content %}
