{% extends 'webnav_templete.html' %}


{% block title %}
    YAKI GROUP TOURS -- HOME
{% endblock %}

{% block main %}
   <section class="inner-page-banner" style="background-image:url(img/banner/about-banner.jpg)">
		<div class="page-banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>About Us</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active">About Us</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="about-text wow fadeIn">
						<h2>We are YAKI GROUP TOURS</h2>
						<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos, In massa urna pellentesque habitant morbi tristique senectus.</p>
						<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos, In massa urna pellentesque habitant morbi tristique senectus.</p>
						<ul>
							<li>We offer daily tours</li>
							<li>Best price guarantee</li>
							<li>Never lose your deposit</li>
							<li>5 star accommodations</li>
							<li>Handpicked hotels</li>
							<li>Special gifts &amp; offers for you</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="about-img text-xl-right text-center wow fadeIn">
						<img class="tilt-img" src="img/about-us/1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end about -->

	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Meet Our TEAM</span></h2>
						<p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur adipisicing elit.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/1.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>John Smith</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>John Smith</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/2.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Robiul Awal</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Robiul Awal</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/3.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>S. Davis</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>S. Davis</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/4.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>L. Turman</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>L. Turman</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/5.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>F. Johnson</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>F. Johnson</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/6.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Jesus Jackson</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Jesus Jackson</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/7.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>John Smith</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>John Smith</h3>
							<h6>Skin Therapist</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="img/team/8.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>S. Davis</h3>
							<h6>Tour Guide</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>S. Davis</h3>
							<h6>Tour Guide</h6>
							<ul class="social-icons">
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="about-us.html#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'website:contact' %}" class="btn btn-primary">Contat Us</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
