{#{% extends 'webnav_templete.html' %}#}


{% block title %}
    YAKI GROUP TOURS -- HOME
{% endblock %}

{% block main %}
    <section class="carousel slide" id="banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">

            {% for slider in sliders %}
                {% if forloop.counter0 == 0 %}
                    <div class="carousel-item active" style="background-image:url({{ slider.attachment_image.url }})">
                {% else %}
                    <div class="carousel-item" style="background-image:url(' {{ slider.attachment_image.url }} ')">
                {% endif %}
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hero-text">
                                <h6 class="animated fadeInDown text-light">{{ slider.heading2 }}</h6>
                                <h1 class="animated fadeInUp text-light">{{ slider.heading1 }}</h1>
                                <p class="animated fadeInUp text-light">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Vestibulum tincidunt ullamcorper magna, in tincidunt ex auctor
                                    et.</p>
                                <a href="contact-us.html" class="btn btn-primary animated fadeInUp">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
    </section>

    <section class="section-spacing inverse-bg" style="background-image: url('')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2><span>Featured tours</span></h2>
                        <p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor
                            consectur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="tour-item wow fadeIn">
                        <div class="thumb">
                            <a href="tour-single.html">
                                <img src="img/tour/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="tour-info">
                            <h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam Sorem ipsum
                                dolor consectur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            <div class="tour-price">$650.00 <small>- 2 days 3 nights</small></div>
                            <div class="tour-location"><span>Tour in Croatia</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="tour-item wow fadeIn">
                        <div class="media">
                            <div class="thumb">
                                <a href="tour-single.html">
                                    <img src="img/tour/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="tour-info">
                                    <h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
                                    <div class="tour-price">$550.00 <small>- 2 days 3 nights</small></div>
                                    <div class="tour-location"><span>Tour in Istanbul</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tour-item wow fadeIn">
                        <div class="media">
                            <div class="thumb">
                                <a href="tour-single.html">
                                    <img src="img/tour/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="tour-info">
                                    <h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
                                    <div class="tour-price">$950.00 <small>- 2 days 3 nights</small></div>
                                    <div class="tour-location"><span>Tour in Sydney</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end featured tour -->
{% endblock %}
