{% extends 'webnav_templete.html' %}


{% block title %}
    YAKI GROUP TOURS -- HOME
{% endblock %}

{% block main %}
 <section class="inner-page-banner" style="background-image:url(img/banner/tour-banner.jpg)">
		<div class="page-banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Tours</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active">Tours</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Latest tours</span></h2>
						<p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur adipisicing elit.</p>
					</div>
				</div>
			</div>

			<div class="row tours">
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$850.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Croatia</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$450.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Istanbul</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$550.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Singapore</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$850.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Dubai</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$570.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Sydney</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$760.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Dubai</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$850.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in London</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$540.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Croatia</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$850.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in London</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-6">
					<div class="tour-item wow fadeIn">
						<div class="media">
							<div class="thumb">
								<a href="tour-single.html">
									<img src="img/tour/3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<div class="tour-info">
									<h3><a href="tour-single.html">Week at Sunny Beach</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing Suscipit tas aperiam.</p>
									<div class="tour-price">$850.00 <small>- 2 days 3 nights</small></div>
									<div class="tour-location"><span>Tour in Singapore</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end featured tour -->

	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Tourist feedback</span></h2>
						<p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur adipisicing elit.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-lg-10 offset-lg-1">
					<div class="testimonials-outer">
						<div class="cover-img wow fadeIn">
							<img src="img/feedback/1.jpg" alt="">
						</div>
						<div id="reviews-carousel" class="carousel slide wow fadeInUp" data-ride="carousel" data-pause="false">
							<span class="flaticon-quote"></span>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<h3>African Forest</h3>
									<h4>28 October, 2018</h4>
									<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat. Duis sollicitudin.</p>
								</div>
								<div class="carousel-item">
									<h3>African Forest</h3>
									<h4>28 October, 2018</h4>
									<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat. Duis sollicitudin.</p>
								</div>
							</div>

							<div class="carousel-control">
								<a class="control-prev" href="tours.html#reviews-carousel" role="button" data-slide="prev">
									<span class="flaticon-left-arrow" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="control-next" href="tours.html#reviews-carousel" role="button" data-slide="next">
									<span class="flaticon-right-arrow-1" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
